<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Silaeder Vpn</title>
    <meta name="theme-color" content="#ffd25e">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="/">Silaeder VPN</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link disabled" href="/dashboard" style="background: var(--bs-gray-400);">Панель управления</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Поддержка</a></li>
                    <li class="nav-item">{% if admin %}<a class="nav-link" href="/admin">Admin Panel</a>{% endif %}</li>
                    <li class="nav-item"><a class="nav-link" href="/settings">{{ name }}(Настройки)</a></li>
                </ul>
                <form action="/auth/logout" method="post"><input class="form-control" type="hidden"><button class="btn btn-warning action-button" type="submit">Выйти</button></form>
            </div>
        </div>
    </nav>
    <section class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Ваши VPN Подключения</h2>
                <p class="text-center">Скопируйте данные или скачайте готовый .conf файл</p>
            </div>
            <div class="row row-cols-4 articles">{% for peer in peers %}
                <div class="col item" style="min-height: 0px;padding-top: 20px;padding-bottom: 20px;">
                    <section style="padding-top: 10px;padding-bottom: 10px;">
                        <h4 class="text-center name">Peer</h4>
                        <div class="row text-center">
                            <div class="col"><code>{{ peer.address }}</code></div>
                        </div>
                        <div class="row text-center">
                            <div class="col"><code>{{ peer.private_key }}</code></div>
                        </div>
                        <h4 class="text-center name">Данные сервера</h4>
                        <div class="row text-center">
                            <div class="col"><code>{{ peer.server_address }}</code></div>
                        </div>
                        <div class="row text-center">
                            <div class="col"><code>{{ peer.server_public_key }}</code></div>
                        </div>
                    </section><a href="/config/{{ peer.id }}/{{username}}.conf" download="{{username}}.conf"><button class="btn btn-outline-primary text-center" type="button">Скачать конфиг</button></a>
                </div>{% endfor %}
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>