<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Silaeder Vpn</title>
    <meta name="theme-color" content="#ffd25e">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">Silaeder VPN</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link disabled" href="/contact">Поддержка</a></li>
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Панель управления</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="contact-clean">
        <form method="post" action="/ask_support">
            <h2 class="text-center">Связь с поддержкой</h2>
            <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Кто вы"></div>
            <div class="mb-3"><input class="form-control" type="text" name="contact" placeholder="Ник в соцсети"></div>
            <div class="mb-3"><textarea class="form-control" name="message" placeholder="Чем вам помочь" rows="14"></textarea></div>
            <div class="mb-3"><button class="btn btn-primary" type="submit">отправить</button></div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>